<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title>
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <b> Doughnut Chart</b>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <b>Line Chart</b>
    </ion-card-header>
    <ion-card-content >
      <div style="height: 600px">
        <canvas #lineCanvas height="200px"></canvas>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>