
.ios, .md {

    page-chart-js {

        .scroll-content {
            background-color: #ffffff;
        }

        ion-card-header {
            font-weight: bold;
        }


    }

}
#lineCanvas{
   height: 500px;
}
ion-card{
    display: flex;
    flex-direction: column;
    // height:600px !important;
    // width:100%;
}
